<button (click)="addEmployee()">xxx</button>
<div class="list-wrapper">
   <mat-grid-list [cols]="5" rowHeight="1:1">
        <mat-grid-tile *ngFor="let employee of employees$ | async">
                <mat-card style="width: 90%; height:min-content;">
                    <mat-card-header>
                        <mat-card-title>{{employee.first_name}}</mat-card-title>
                        <mat-card-subtitle>{{ employee.middle_name + ' ' + employee.last_name }}</mat-card-subtitle>
                        <mat-card-subtitle>{{ employee.age }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content *ngIf="employee.skill_set">
                        <ul>
                            <ng-container *ngFor="let skill of employee.skill_set">
                                <li *ngIf="skill != null" >{{skill}}</li>
                            </ng-container>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions align="end" *ngIf="isAdmin" class="action-wrapper">
                        <button mat-icon-button (click)="editEmployee(employee.id)" >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteEmployee(employee.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
        </mat-grid-tile>
   </mat-grid-list>
</div>